{% extends "base.html" %}

{% block title %}Manage Tutorials{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Manage Tutorials</h1>
    
    <a href="{{ url_for('add_tutorial') }}" class="btn btn-primary mb-3">Add New Tutorial</a>
    
    {% for language, data in tutorials.items() %}
    <div class="card mb-4">
        <div class="card-header">
            <h5>{{ data.title }}</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for video in data.videos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ video.title }}
                    <a href="{{ video.url }}" target="_blank" class="btn btn-sm btn-outline-primary">View</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}