{% extends "base.html" %}

{% block title %}Tutorials{% endblock %}

{% block content %}
<h1 class="mb-4">Available Tutorials</h1>

<div class="row">
    {% for lang, data in tutorials.items() %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ data.title }}</h5>
                <p class="card-text">{{ data.videos|length }} video tutorials available</p>
                <a href="{{ url_for('tutorial_language', language=lang) }}" class="btn btn-danger">View Tutorials</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}