{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="fs-5">Tutorial Categories</h2>
    <div class="row">
        {% for category_name, category_data in tutorials.items() %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title fw-normal">{{ category_name }}</h6>
                    <a href="{{ url_for('tutorial_language', category_id=category_data.id) }}" class="btn btn-danger">
                        View Tutorials ({{ category_data.videos|length }})
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}